<html>
<head>
    {{ icarus }}
    {{ common }}
    {{ bootstrap }}
</head>
<body>
    <div class="top-panel">
		<table class="layout-table">
			<tr>
			<td class='layout-table-td'>
				<div class="page_title">
					<h1>
                        Icarus
                    </h1>
                    <p class="page_subtitle">
						<b>QUAST Contig Browser</b> by <a href="http://bioinf.spbau.ru/en" class='dark_bg_link'>Center for Algorithmic Biotechnology</a>
					</p>
				</div>
			</td>
			</tr>
		</table>
    </div>
	<div class="content">
		<div class="icarus_summary_content">
			<table class="summary_table assemblies_table">
				<thead>
					{{ assemblies }}
				</thead>
				<tbody>
					{{ links }}
				</tbody>
			</table>
			<br>
				{{ div_references }}
				<h3>Select a viewer of contigs aligned to one of the following reference genomes:</h3>
				<table class="summary_table meta_references_table">
					<thead>
						<th>
							Genome
						</th>
						<th>
							# fragments
						</th>
						<th>
							Length, bp
						</th>
						{{ th_assemblies }}
						<th>
							Mean genome fraction, %
						</th>
						<th>
							# misassembled blocks
						</th>
					</thead>
					<tbody>
					{{ references }}
					</tbody>
				</table>
			</div>
		</div>
	</div>
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip({delay: {show: 200, hide: 100}});
	});
</script>
</body>
</html>