<!--
The MIT License (MIT)

Copyright (c) 2013 bill@bunkat.com

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->

<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
    {{ icarus }}
    {{ common }}
    {{ bootstrap }}
</head>
<body>
<!--[if lt IE 9]>
<div class="ie_warning">
    Your browser is not supported, please use Internet Explorer 9, Firefox, Safari or Google Chrome (recommended).
</div>
<![endif]-->
<div class="top-panel">
	<table class="layout-table">
		<tr>
		<td class='layout-table-td'>
            <div class="btn btn-inverse" id="to_main_menu_button">
                <a href="../icarus.html">Main menu</a>
            </div>
            <div class="page_title">
                <h1>
                    Icarus
                </h1>
                <p class="page_subtitle">
                    <b>QUAST Contig Browser</b>
                </p>
            </div>
		</td>
        <td class="layout-table-td">
            <div id='controls_panel'>
                <span style="white-space: nowrap;">
                    Move
                    <button id="left_shift" class="btn btn-inverse"><<</button>
                    <button id="left" class="btn btn-inverse"><</button>
                    <button id="right" class="btn btn-inverse">></button>
                    <button id="right_shift" class="btn btn-inverse">>></button>
                </span>
                <span style="white-space: nowrap; margin-left: 7px">
                    zoom
                    <button id="zoom_in_5" class="btn btn-inverse">+<span class="rhs"></span>5x</button>
                    <button id="zoom_in" class="btn btn-inverse">+<span class="rhs"></span>2x</button>
                    <button id="zoom_out" class="btn btn-inverse">–<span class="rhs"></span>2x</button>
                    <button id="zoom_out_5" class="btn btn-inverse">–<span class="rhs"></span>5x</button>
                </span>
                <span style="white-space: nowrap; margin-left: 7px">
                    go to coordinate <input class="textBox" id="input_coords" type="text" maxlength="30" />
                </span>
                <br>
                <span style="white-space: nowrap;">
                    {{ size_threshold }}
                </span>
                <span id="misassemblies_selector_panel">
                    {{ ms_selector }}
                </span>
			</div>
		</tr>
	</table>
</div>
<div class="content" style="padding-bottom: 0;">
    {{ reference }}
    {{ warning }}
</div>

<button id="hideBtnAnnoMini" class="btn moving_button btn-mini" style="display: none; position: absolute;">Hide</button>
<button id="hideBtnAnnoMain" class="btn moving_button btn-mini" style="display: none; position: absolute;">Show annotation</button>
<button id="hideBtnCovMini" class="btn moving_button btn-mini" style="display: none; position: absolute;">Hide</button>
<button id="hideBtnCovMain" class="btn moving_button btn-mini" style="display: none; position: absolute;">Show coverage</button>
<script type="text/javascript">
	window.onbeforeunload = function(){
		window.scrollTo(0,0);
	}
</script>
<script type="text/javascript">
    {{ contig_alignments }}
    {{ contig_sizes }}
</script>
    {{ d3 }}
    {{ build_icarus }}
</body>
</html>